[package]
name = "beet_router"
version.workspace = true
edition.workspace = true
description = "ECS router and server utilities"
documentation.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords = ["bevy","server","router"]
categories.workspace = true
publish = true

[features]
default = ["serde","tokio","fs", "server"]
server = ["beet_net/server"]
tokens = ["beet_core/tokens"]
# for conditional compilation in hooks
client = ["beet_net/client"]
fs = ["beet_net/fs"]
aws = ["beet_net/aws"]
tokio = ["dep:tokio","beet_net/tokio"]
serde = [
	"dep:serde",
	"dep:serde_json",
	"dep:clap",
	"dep:base64",
	"beet_core/serde",
]

[dependencies]
beet_core.workspace = true
beet_net.workspace = true
beet_dom.workspace = true
beet_flow.workspace = true
beet_rsx.workspace = true

bevy.workspace = true

# utils
variadics_please.workspace = true
extend.workspace = true
thiserror.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
send_wrapper.workspace = true
http.workspace = true

# serde
clap = { workspace = true, optional = true }
base64 = { workspace = true, optional = true }
serde = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }

# http
bytes.workspace = true

# async
futures.workspace = true
async-channel.workspace = true

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { workspace = true, optional = true, default-features = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
beet_core.workspace = true
js-sys.workspace = true
wasm-bindgen.workspace = true
wasm-bindgen-futures.workspace = true
web-sys = { workspace = true, features = ["Storage"] }

[dev-dependencies]
sweet.workspace = true
