(
    resources: {},
    entities: {
        4294967310: (
            components: {
                "bevy_hierarchy::components::children::Children": ([
                    4294967311,
                ]),
                "bevy_core::name::Name": "Inference Agent",
                "bevy_transform::components::transform::Transform": (
                    translation: (
                        x: -0.375,
                        y: 0.0,
                        z: -0.375,
                    ),
                    rotation: (
                        x: 0.0,
                        y: 0.0,
                        z: 0.0,
                        w: 1.0,
                    ),
                    scale: (
                        x: 0.125,
                        y: 0.125,
                        z: 0.125,
                    ),
                ),
                "beet_ml::environments::frozen_lake::grid::GridPos": ((
                    x: 0,
                    y: 0,
                )),
                "beet_ml::environments::frozen_lake::grid::GridDirection": Left,
                "beetmash_scene::utils::bundle_placeholder::BundlePlaceholder": Scene("kaykit-minigame/character_dog.gltf.glb#Scene0"),
                "beet_ml::environments::frozen_lake::grid::GridToWorld": (
                    map_width: 1.0,
                    cell_width: 0.25,
                    map_size: (
                        x: 4,
                        y: 4,
                    ),
                    offset: (
                        x: -0.375,
                        y: 0.0,
                        z: -0.375,
                    ),
                ),
            },
        ),
        4294967311: (
            components: {
                "bevy_hierarchy::components::parent::Parent": (4294967310),
                "bevy_hierarchy::components::children::Children": ([
                    4294967312,
                    4294967313,
                ]),
                "beet_flow::actions::on_trigger::on_trigger_action::OnTrigger<beet_flow::actions::on_trigger::insert_on_trigger::InsertHandler<beet_flow::actions::on_trigger::on_trigger_handler::DefaultMapFunc<beet_flow::events::on_run_result::OnRunResult, beet_flow::actions::on_trigger::run_on_spawn::RunOnSpawn, ()>>>": (
                    params: (),
                    sources: [],
                    target: This,
                ),
                "beet_flow::actions::flow::sequence_flow::SequenceFlow": (),
                "beet_flow::actions::on_trigger::on_global_trigger::OnGlobalTrigger<beet_flow::actions::on_trigger::trigger_on_trigger::TriggerHandler<beet_flow::actions::on_trigger::on_trigger_handler::DefaultMapFunc<beetmash_net::events::common_events::AppReady, beet_flow::events::on_run::OnRun, ()>>>": ((
                    params: (),
                    sources: [],
                    target: This,
                )),
                "bevy_core::name::Name": "Run Frozen Lake Agent",
            },
        ),
        4294967312: (
            components: {
                "bevy_hierarchy::components::parent::Parent": (4294967311),
                "beet_flow::lifecycle::components::target_agent::TargetAgent": (4294967310),
                "bevy_core::name::Name": "Get next action",
                "beet_ml::rl_realtime::read_qpolicy::ReadQPolicy<beet_ml::rl::q_table::QTable<beet_ml::environments::frozen_lake::grid::GridPos, beet_ml::environments::frozen_lake::grid::GridDirection>>": (),
                "beetmash_core::render::block_app_ready::AssetLoadBlockAppReady": (),
                "beetmash_scene::utils::asset_placeholder::AssetPlaceholder<beet_ml::rl::q_table::QTable<beet_ml::environments::frozen_lake::grid::GridPos, beet_ml::environments::frozen_lake::grid::GridDirection>>": (
                    path: "ml/frozen_lake_qtable.ron",
                ),
            },
        ),
        4294967313: (
            components: {
                "bevy_hierarchy::components::parent::Parent": (4294967311),
                "beet_flow::actions::on_trigger::on_trigger_action::OnTrigger<beet_flow::actions::on_trigger::insert_on_trigger::InsertHandler<beet_flow::actions::on_trigger::on_trigger_handler::DefaultMapFunc<beet_flow::events::on_run::OnRun, beet_flow::lifecycle::components::running::Running, ()>>>": (
                    params: (),
                    sources: [],
                    target: This,
                ),
                "beet_flow::actions::on_trigger::on_trigger_action::OnTrigger<beet_flow::actions::on_trigger::remove_on_trigger::RemoveHandler<beet_flow::events::on_run_result::OnRunResult, beet_flow::lifecycle::components::running::Running, ()>>": (
                    params: (),
                    sources: [],
                    target: This,
                ),
                "beet_flow::actions::misc::run_timer::RunTimer": (
                    last_started: (
                        elapsed: (
                            secs: 0,
                            nanos: 0,
                        ),
                        paused: false,
                    ),
                    last_stopped: (
                        elapsed: (
                            secs: 0,
                            nanos: 0,
                        ),
                        paused: false,
                    ),
                ),
                "beet_flow::lifecycle::components::target_agent::TargetAgent": (4294967310),
                "bevy_core::name::Name": "Perform action",
                "beet_ml::environments::frozen_lake::translate_grid::TranslateGrid": (
                    anim_duration: (
                        secs: 1,
                        nanos: 0,
                    ),
                ),
            },
        ),
    },
)