[package]
name = "sweet-cli"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
readme.workspace = true
description = "A delightful cross-platform test runner"
documentation.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true

[[bin]]
name = "sweet"
path = "src/main.rs"

[dependencies]
beet = { workspace = true, features = ["build","net","router"] }
# auto_register_static required for compilation, no idea why
# bevy = { workspace = true,features = ["reflect_auto_register_static"]}

[dev-dependencies]
sweet.workspace = true
