{
    #[allow(unused)]
    use beet_dom::prelude::*;
    #[allow(unused)]
    use beet_core::prelude::*;
    ResolveSnippets::resolve(
        OnSpawnDeferred::insert(Foo { bar: true }.into_bundle()),
    )
}