{
    #[allow(unused)]
    use beet_dom::prelude::*;
    #[allow(unused)]
    use beet_core::prelude::*;
    ResolveSnippets::resolve((
        SnippetRoot {
            file: WsPathBuf::new(
                "crates/beet_parse/src/tokenize/tokenize_element_attributes.rs",
            ),
            start: LineCol { line: 1u32, col: 0u32 },
        },
        InstanceRoot,
        FragmentNode,
        related! {
            Children[(NodeTag(String::from("span")), ElementNode { self_closing :
            true }, related!(Attributes[(AttributeKey::new("onclick"),
            OnSpawnDeferred::insert("some_js_func".into_bundle()))]))]
        },
    ))
}