(
    BeetRoot,
    InstanceRoot,
    MacroIdx {
        file: WsPathBuf::new(
            "crates/beet_parse/src/tokenize/tokenize_bundle_tokens.rs",
        ),
        start: LineCol { line: 1u32, col: 0u32 },
    },
    FragmentNode,
    related! {
        Children[(NodeTag(String::from("br")), ElementNode { self_closing : true },
        related! { Attributes[(AttributeKey(String::from("foo")),
        NodeExpr(SendWrapper::new(syn::parse_quote!({ let class = "bar";
        (NodeTag(String::from("div")), ElementNode { self_closing : true },
        related!(Attributes[(AttributeKey::new("class"),
        OnSpawnTemplate::new_insert(#[allow(unused_braces)] { class }
        .into_attribute_bundle()), ExprIdx(1u32))])) }))))] })]
    },
)