{
    #[allow(unused)]
    use beet_dom::prelude::*;
    #[allow(unused)]
    use beet_core::prelude::*;
    ResolveSnippets::resolve(
        related! {
            Children[OnSpawnDeferred::insert(TemplateRoot::spawn(Spawn(< MyFunc as
            Props > ::Builder::default().build().into_bundle())).into_bundle()),
            OnSpawnDeferred::insert(MyStruct::default().into_bundle())]
        },
    )
}