(
    SnippetRoot {
        file: WsPathBuf::new("crates/beet_parse/src/tokenize/tokenize_bundle.rs"),
        start: LineCol { line: 1u32, col: 0u32 },
    },
    InstanceRoot,
    FragmentNode,
    related! {
        Children[(NodeTag(String::from("code")), ElementNode { self_closing : false
        }, CodeElement, LangSnippetHash(13569294293848105359u64), { #[cfg(not(feature
        = "client"))] { InnerText::new(include_str!("foo.rs")) } #[cfg(feature =
        "client")] { () } })]
    },
)