(
    BeetRoot,
    InstanceRoot,
    MacroIdx {
        file: WsPathBuf::new("crates/beet_parse/src/tokenize/tokenize_bundle.rs"),
        start: LineCol { line: 1u32, col: 0u32 },
    },
    FragmentNode,
    related! {
        Children[(NodeTag(String::from("style")), ElementNode { self_closing : false
        })]
    },
)