(
    SnippetRoot {
        file: WsPathBuf::new(
            "crates/beet_parse/src/tokenize/tokenize_element_attributes.rs",
        ),
        start: LineCol { line: 1u32, col: 0u32 },
    },
    InstanceRoot,
    FragmentNode,
    related! {
        Children[(NodeTag(String::from("style")), ElementNode { self_closing : true
        }, StyleElement, LangSnippetHash(6850375090345973503u64),
        InnerText::new(include_str!("./foobar")))]
    },
)