(
    SnippetRoot {
        file: WsPathBuf::new(
            "crates/beet_parse/src/tokenize/tokenize_element_attributes.rs",
        ),
        start: LineCol { line: 1u32, col: 0u32 },
    },
    InstanceRoot,
    FragmentNode,
    related! {
        Children[(ExprIdx(0u32), NodeTag(String::from("span")), ElementNode {
        self_closing : true }, OnSpawnTemplate::new_insert(#[allow(unused_braces)] {
        foo } .into_node_bundle()), related!(Attributes[AttributeKey::new("hidden"),
        (AttributeKey::new("class"), OnSpawnTemplate::new_insert("foo"
        .into_attribute_bundle())), (AttributeKey::new("onmousemove"),
        OnSpawnTemplate::new_insert("some_js_func".into_attribute_bundle())),
        (AttributeKey::new("onclick"),
        OnSpawnTemplate::new_insert(#[allow(unused_braces)] { | _ : Trigger < OnClick
        > | { println!("clicked"); } } .into_attribute_bundle()), ExprIdx(1u32))]))]
    },
)