(
    BeetRoot,
    InstanceRoot,
    MacroIdx {
        file: WsPathBuf::new("crates/beet_parse/src/tokenize/tokenize_template.rs"),
        start: LineCol { line: 1u32, col: 0u32 },
    },
    FragmentNode,
    related! {
        Children[(ExprIdx(0u32), NodeTag(String::from("Foo")), FragmentNode,
        TemplateNode, ClientLoadDirective, SpawnClientIsland::new(< Foo as Props >
        ::Builder::default().bar(true).build()), TemplateRoot::spawn(Spawn(< Foo as
        Props > ::Builder::default().bar(true).build().into_node_bundle())))]
    },
)