{
    #[allow(unused)]
    use beet_dom::prelude::*;
    #[allow(unused)]
    use beet_core::prelude::*;
    ApplySnippets::resolve((
        SnippetRoot {
            file: WsPathBuf::new(
                "crates/beet_parse/src/tokenize/tokenize_bundle.rs",
            ),
            start: LineCol { line: 1u32, col: 0u32 },
        },
        InstanceRoot,
        FragmentNode,
        related! {
            Children[(NodeTag(String::from("br")), ElementNode { self_closing : true
            }), (NodeTag(String::from("br")), ElementNode { self_closing : true })]
        },
    ))
}