{
    #[allow(unused)]
    use beet_dom::prelude::*;
    #[allow(unused)]
    use beet_core::prelude::*;
    ResolveSnippets::resolve(
        OnSpawnDeferred::insert(
            TemplateRoot::spawn(
                    Spawn(
                        <Func as Props>::Builder::default()
                            .foo(bar)
                            .build()
                            .into_bundle(),
                    ),
                )
                .into_bundle(),
        ),
    )
}