"SidebarNode: Root (/)\n    SidebarNode: Blog (/blog)\n        SidebarNode: Post 1 (/blog/post-1)\n        SidebarNode: Post 2 (/blog/post-2)\n    SidebarNode: Design (/design)\n        SidebarNode: Color (None)\n            SidebarNode: Schemes (/design/color/schemes)\n        SidebarNode: Css (None)\n            SidebarNode: Elements (None)\n                SidebarNode: Code (/design/css/elements/code)\n            SidebarNode: Typography (/design/css/typography)\n        SidebarNode: Interactive (None)\n            SidebarNode: Button (/design/interactive/button)\n            SidebarNode: Text Field (/design/interactive/text_field)\n    SidebarNode: Docs (/docs) [expanded]\n        SidebarNode: Behavior (/docs/behavior)\n        SidebarNode: Web (None)\n            SidebarNode: Infra (/docs/web/infra)\n"