
small {
  --bt-font-size: 0.875em;
}


a {
  color: var(--bt-color-primary);
  --bt-text-decoration: underline;
  margin: 0 0.25em;
}

a:visited {
  color: var(--bt-color-tertiary);
}

b,
strong {
  font-weight: bolder;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}



:where(article, address, blockquote, dl, figure, form, ol, p, pre, table, ul) ~ :is(h1, h2, h3, h4, h5, h6) {
  margin-top: var(--bt-typography-spacing-top);
}

p {
  margin-bottom: var(--bt-typography-spacing-vertical);
}

hgroup {
  margin-bottom: var(--bt-typography-spacing-vertical);
}
hgroup > * {
  margin-top: 0;
  margin-bottom: 0;
}
hgroup > *:not(:first-child):last-child {
  --bt-color-text: var(--bt-color-on-surface-variant);
  --bt-font-weight: unset;
  font-size: 1rem;
}

hr {
  height: 0;
  margin: var(--bt-typography-spacing-vertical) 0;
  border: 0;
  border-top: 1px solid var(--bt-color-outline-variant);
  color: inherit;
}

[hidden],
template {
  display: none !important;
}

:where(ol, ul) li {
  margin-bottom: calc(var(--bt-typography-spacing-vertical) * 0.25);
}

:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
  margin-top: calc(var(--bt-typography-spacing-vertical) * 0.25);
}

ul li {
  list-style: square;
}

mark {
  padding: 0.125rem 0.25rem;
  background-color: var(--bt-color-background);
  color: var(--bt-color-text);
  vertical-align: baseline;
}

blockquote {
  display: block;
  margin: var(--bt-typography-spacing-vertical) 0;
  padding: var(--bt-spacing);
  border-right: none;
  border-left: 0.25rem solid var(--bt-color-border);
  border-inline-start: 0.25rem solid var(--bt-color-border);
  border-inline-end: none;
}
blockquote footer {
  margin-top: calc(var(--bt-typography-spacing-vertical) * 0.5);
  color: var(--bt-color-faint);
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
  cursor: help;
}

ins {
  color: var(--bt-color-text);
  text-decoration: none;
}

del {
  color: var(--bt-color-text);
}

::-moz-selection {
  background-color: var(--bt-color-secondary);
}

::selection {
  background-color: var(--bt-color-secondary);
}

