ANTHROPIC_API_KEY=https://console.anthropic.com/settings/keys
OPENAI_API_KEY=https://platform.openai.com/api-keys
GITHUB_API_TOKEN=https://github.com/settings/tokens
MONGODB_CLIENT=https://cloud.mongodb.com/v2
AWS_IAM_ROLE=https://us-west-2.console.aws.amazon.com/iam/home?region=us-west-2#/roles
CLOUDFLARE_DEFAULT_ACCOUNT_ID=https://dash.cloudflare.com/login > right click 'My Account' hamburger > Copy Account ID
CLOUDFLARE_API_TOKEN=https://dash.cloudflare.com/profile/api-tokens > Create Token > edit zone DNS > Copy Token