assets
.agents/*
!.agents/skills
.claude
.playwright-cli
.beet/infra
out.txt
examples/file_based_routes/generated
examples/file_based_routes/dist
examples/bsx_site/dist
examples/thread/persistent_chat.json
examples/router/router_serde.json
examples/todo/todos.json

!examples/assets
Cargo.toml.full
Cargo.toml.basic
target
rustc-ice*
.rustc_info.json
.env
.cache
.vscode/settings.json
dump.*
plan.md
plan2.md
file.pdf
launch.ron

tests/assert.rs
tests/expect.rs

bevy

**/codegen

packages/beet_state/node_modules
packages/beet_state/dist

# temp
.claude/
examples/file_based_routes/
examples/router/router_serde.json
examples/todo/
