rustc-ice*
assets
assets.tar.gz
target
.rustc_info.json
.env
.cache
.vscode/settings.json
dump.txt
openapi.yaml
openapitools.json
rust_bindings
prompt.md

tests/assert.rs
tests/expect.rs

**/codegen

crates/beet_query/test.db
