(display_name:"Root",path:None,children:[(display_name:"Testing",path:Some(("/docs")),children:[(display_name:"Partying",path:Some(("/docs/testing")),children:[],expanded:false)],expanded:false)],expanded:false)