<!DOCTYPE html><html><head><script type="module">
globalThis._beet_event_store = []
globalThis._beet_event_handler = (id,event) => globalThis._beet_event_store.push([id, event])
</script><script type="module">
		import init from '/wasm/main.js'
		init({ module_or_path: '/wasm/main_bg.wasm' })
			.catch((error) => {
				if (!error.message.startsWith("Using exceptions for control flow,"))
					throw error
		})
</script></head><body><script type="beet/client-islands">(
  resources: {},
  entities: {
    4294967294: (
      components: {
        "beet_dom::node::directives::client_island::ClientIslandRoot<beet_rsx::templating::apply_client_islands::test::MyTemplate, beet_rsx::templating::apply_client_islands::test::MyTemplate>": (
          value: (
            foo: 3,
          ),
        ),
        "beet_dom::node::directives::web_directives::ClientOnlyDirective": (
          root_id: "root",
        ),
        "beet_dom::node::dom_idx::DomIdx": (0),
        "beet_dom::node::rsx_nodes::NodeTag": ("MyTemplate"),
      },
    ),
  },
)</script></body></html>