<!DOCTYPE html><html><head><script type="module">
globalThis._beet_event_store = []
globalThis._beet_event_handler = (id,event) => globalThis._beet_event_store.push([id, event])
</script><script type="module">
		import init from '/wasm/main.js'
		init({ module_or_path: '/wasm/main_bg.wasm' })
			.catch((error) => {
				if (!error.message.startsWith("Using exceptions for control flow,"))
					throw error
		})
</script></head><body><div data-beet-dom-idx="0"/><script type="beet/client-islands">(
  resources: {},
  entities: {
    4294967294: (
      components: {
        "beet_dom::node::directives::web_directives::ClientLoadDirective": (),
        "beet_dom::node::dom_idx::DomIdx": (0),
        "beet_dom::node::rsx_nodes::NodeTag": ("div"),
      },
    ),
  },
)</script></body></html>