*,
*::before,
*::after {
	box-sizing: border-box;
	background-repeat: no-repeat;

}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
	margin: 0;
}

body {
  width: 100%;
  margin: 0;
}

main {
  display: block;
}


body > header,
body > main,
body > footer {
  padding-block: var(--bt-block-spacing-vertical);
}

section {
  margin-bottom: var(--bt-block-spacing-vertical);
}