(
    model: (
        base_url: "https://huggingface.co/sentence-transformers/all-MiniLM-L6-v2/resolve/refs%2Fpr%2F21/",
        search_prefix: "",
        document_prefix: "",
        model_id: "sentence-transformers/all-MiniLM-L6-v2",
        revision: "main",
    ),
    normalize_embeddings: true,
    approximate_gelu: false,
)