.controls {
	padding: 1em;
	/* width: 100%; */
	/* min-width: 100%; */
	/* height: 100%; */
}


.toggleControl {
	display: flex;
	justify-content: space-between;

}

.messagebox {
	display: flex;
	flex-direction: row;

}

.videoContainer {
	position: relative;
	width: 100%;
}

.videoContainer>video {
	width: 100%;
	height: 100%;
}

.videoContainer>canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videoContainer>div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

