[package]
name = "beet_spatial"
version = { workspace = true }
edition = { workspace = true }
description = "Spatial actions built upon beet_flow"
documentation = { workspace = true }
readme = "README.md"
homepage = { workspace = true }
repository = { workspace = true }
license = { workspace = true }
keywords = { workspace = true }
categories = { workspace = true }

[features]
bevy_default = ["bevy/default","beet_core/bevy_default"]

[dependencies]
beet_flow.workspace = true
beet_core = { workspace = true, features = ["rand"] }

bevy.workspace = true

extend.workspace = true
log.workspace = true
strum.workspace = true
strum_macros.workspace = true

[target.'cfg(target_arch = "wasm32")'.dependencies]
web-sys.workspace = true

[dev-dependencies]
beet_core = { workspace = true, features = ["testing"] }
