#[allow(missing_docs)]
pub mod routes {
    #[allow(unused_imports)]
    use super::*;
    pub async fn bazz() -> Result<()> {
        ServerActionRequest::new(HttpMethod::Get, "/bazz").send().await
    }
    #[allow(missing_docs)]
    pub mod foo {
        #[allow(unused_imports)]
        use super::*;
        pub async fn bar() -> Result<()> {
            ServerActionRequest::new(HttpMethod::Get, "/foo/bar").send().await
        }
        #[allow(missing_docs)]
        pub mod boo {
            #[allow(unused_imports)]
            use super::*;
            pub async fn get() -> Result<()> {
                ServerActionRequest::new(HttpMethod::Get, "/foo/boo").send().await
            }
            pub async fn post() -> Result<()> {
                ServerActionRequest::new(HttpMethod::Post, "/foo/boo").send().await
            }
        }
        #[allow(missing_docs)]
        pub mod bing {
            #[allow(unused_imports)]
            use super::*;
            pub async fn bong() -> Result<()> {
                ServerActionRequest::new(HttpMethod::Post, "/foo/bing/bong").send().await
            }
        }
    }
}
