"<!DOCTYPE html><html><head><style data-lang-hash=\"10276483345891948650\">h1[data-beet-style-id-0] {\n  font-size: 1px;\n}\n</style></head><body><div data-beet-style-id-0><h1 data-beet-style-id-0>Roundtrip Test</h1></div></body></html>"