.root > li + li {
	/* little gap between top level entries */
	/* margin-top: 0.75rem; */
}

ul {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

li{
	overflow-wrap: anywhere;
	list-style-type: none;
	margin-bottom: 0;
}

li:not(.root) {
	margin-inline-start: var(--sidebar-indent);
	border-inline-start: 1px solid var(--bt-color-outline-variant);
	padding-inline-start: var(--sidebar-indent);
}

.large {
	/* font-size: var(--bt-text-base); */
	font-weight: var(--bt-form-element-font-weight);
}

details{
	margin-bottom: 0;
}

.bm-c-sidebar__sublist summary {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: var(--bt-border-radius);
	padding-top: 0.2em inherit;
	/* padding-bottom: 0.2em var(--sidebar-indent); */
	line-height: var(--bt-line-height);
	margin-bottom:0;
	cursor: pointer;
	user-select: none;
}
summary::marker,
summary::-webkit-details-marker {
	display: none;
}

.caret {
		transition: transform var(--bt-transition);
		flex-shrink: 0;
}

:global([dir='rtl']) .caret {
	transform: rotateZ(180deg);
}
[open] > summary .caret {
	transform: rotateZ(90deg);
}

/* 
anchor is used for leaf nodes and parents with a page
otherwise span
*/
a,span{
	padding: 0.2em  0.1em 0.2em 0.5em;
}

/* account for the arrow */
a.leaf{
	width:calc(100% + 3px - 1rem - var(--bt-spacing));
}

a {
	display: block;
	width: 100%;
	border-radius: var(--bt-border-radius);
	text-decoration: none;
	color: var(--bt-color-on-surface-variant);
	line-height: var(--bt-line-height);
}

a:hover,
a:focus {
	color: var(--bt-color-on-surface);
}

a > *:not(:last-child),
.group-label > *:not(:last-child) {
	margin-inline-end: 0.25em;
}

a[aria-current='page'],
	[aria-current='page']:hover,
	[aria-current='page']:focus {
		font-weight: var(--bt-form-element-font-weight);
		color: var(--bt-color-primary);
		background-color: var(--bt-color-surface-container-high);
	}
