[package]
name = "beet_site"
publish = false
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
readme.workspace = true
description = "The beet website, built with beet"
documentation.workspace = true
homepage.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true


[features]
default = ["launch", "server", "client"]
launch = ["beet/launch"]
server = ["server-client","beet/server", "beet_design/mockups", "beet_design/server"]
server-local = ["server", "beet/native-tls"]
server-lambda = ["server", "beet/aws", "beet/lambda"]
client = ["server-client", "beet/client", "beet_design/mockups"]
# features common to server and client but not launch
server-client = ["beet/agent"]

[dependencies]
serde.workspace = true
beet.workspace = true
beet_design.workspace = true

[target.'cfg(target_arch = "wasm32")'.dependencies]
getrandom = { version = "0.3", features = ["wasm_js"] }

[dev-dependencies]
sweet = {workspace = true, features=["runner"]}
