#[allow(non_snake_case)]
fn OnAddFoo<T>(
    mut world: beet_core::prelude::DeferredWorld,
    cx: beet_core::prelude::HookContext,
) {
    world.commands().entity(cx.entity).observe(bar).observe(bazz::<T>);
}
#[derive(Component)]
#[component(on_add = OnAddFoo::<T>)]
struct Foo<T>;
