#[allow(non_snake_case)]
fn OnAddFoo(
    mut world: beet_core::prelude::DeferredWorld,
    cx: beet_core::prelude::HookContext,
) {
    world.commands().entity(cx.entity).observe_any(bar).observe_any(bazz);
}
#[derive(Component)]
#[component(on_add = OnAddFoo)]
struct Foo;
