impl<U: Clone> beet_core::prelude::TokenizeSelf for MyGenericStruct<U>
where
    U: beet_core::prelude::TokenizeSelf,
{
    fn self_tokens(&self, tokens: &mut beet_core::exports::proc_macro2::TokenStream) {
        use beet_core::exports::quote;
        use beet_core::exports::proc_macro2;
        let generic0 = short_type_path::<U>();
        tokens
            .extend(
                quote::quote! {
                    MyGenericStruct:: < # generic0 > {}
                },
            );
    }
}
