[package]
name = "sweet"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
readme.workspace = true
description.workspace = true
documentation.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true


[features]
# default = ["server", "rsx", "macros", "render"]
bevy_default = ["bevy", "sweet_bevy/bevy_default"]
bevy_scene = ["bevy", "sweet_bevy/bevy_scene"]
bevy = ["dep:sweet_bevy", "sweet_utils/bevy", "sweet_test?/bevy"]
serde = ["sweet_utils/serde"]
fs = ["dep:sweet_fs"]
rand = ["sweet_utils/rand", "sweet_bevy?/rand"]
test = ["dep:sweet_test"]
net = ["dep:sweet_net"]
web = ["dep:sweet_web"]
server = ["dep:sweet_server"]
e2e = ["sweet_test/e2e"]

[dependencies]
sweet_utils.workspace = true
sweet_bevy = { workspace = true, optional = true }
sweet_net = { workspace = true, optional = true }
sweet_test = { workspace = true, optional = true }
sweet_web = { workspace = true, optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
sweet_server = { workspace = true, optional = true }
sweet_fs = { workspace = true, optional = true }


[dev-dependencies]
sweet = { path = "", features = ["bevy", "rand", "test"] }

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
sweet = { path = "", features = ["fs"] }

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
sweet = { path = "", features = ["web"] }
console_error_panic_hook.workspace = true
console_log.workspace = true
js-sys.workspace = true
wasm-bindgen.workspace = true
wasm-bindgen-futures.workspace = true
web-sys.workspace = true
