[package]
name = "beet_design"
version.workspace = true
edition.workspace = true
description.workspace = true
documentation.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
publish = true

# [[bin]]
# name = "run-build"
# path = "build.rs"
# required-features = ["build"]

[features]

[dependencies]
anyhow.workspace = true
sweet.workspace = true
beet_template.workspace = true
beet_common.workspace = true
beet_router.workspace = true
chrono.workspace = true
heck.workspace = true
material-colors = "0.4.2"

serde.workspace = true

[dev-dependencies]
sweet = { workspace = true, features = ["test"] }
lightningcss.workspace = true

[build-dependencies]
anyhow.workspace = true
sweet.workspace = true