:root {
	--bt-form-element-height: 3.em;
	--bt-form-element-font-weight: 600;
	--bt-form-element-font-size: 0.8.em;
	--bt-form-element-border-radius-percent: 0.5;
	--bt-form-element-border-radius: calc(var(--bt-form-element-height) * var(--bt-form-element-border-radius-percent) * 0.5);
}

.bt-c-button,
.bt-c-input,
.bt-c-select {

	outline:none;

	pointer-events: auto;

	height: var(--bt-form-element-height);
	padding: var(--bt-spacing);

	border-radius: var(--bt-form-element-border-radius);
	font-size: var(--bt-form-element-font-size);
	font-weight: var(--bt-form-element-font-weight);
	font-family: var(--bt-font-family);
	border: none;

	display: flex;
	color: var(--bt-color-text);
	background-color: var(--bt-color-background);


}
