.bt-u-main {
	display: flex;
	flex-direction: column;
}

.bt-u-main iframe,
img,
video {
	align-self: center;
}




.bt-u-print-only {
	display: none;
}

@media print {
	/*
	h2 {
		break-before: page;
	}*/

	.bt-u-print-hidden {
		display: none !important;
	}
	.bt-u-print-only {
		display: block;
	}
	.bt-u-page-break {
		break-after: page;
	}
}
