"<!DOCTYPE html><html><head><style>div[data-beet-style-id-6763168586761620346] {\n  color: red;\n}\n</style></head><body><div data-beet-style-id-6763168586761620346>\n\t\t\thello world\n\t\t</div></body></html>"