<!DOCTYPE html><html><head><style data-lang-hash="6455644463090056512">div[data-beet-style-id-0] {
  color: red;
}
</style></head><body><div data-beet-style-id-0>
			hello world
		</div></body></html>