[build]
# recommended for cargo test --workspace
# jobs = 8

[target.wasm32-unknown-unknown]
# this uses sweet for cargo run and cargo test
runner = 'sweet run-wasm'
# uncomment this line when developing the runner
# runner = 'cargo run -p sweet-cli -- run-wasm'
rustflags = [
	# remove in getrandom 0.3.4
	"--cfg",
	"getrandom_backend=\"wasm_js\"",
	# get span.file()
	# "--cfg",
	# "procmacro2_semver_exempt",
]

[env]
SWEET_ROOT = { value = "", relative = true }
