[build]
# recommended for cargo test --workspace
# jobs = 8

[target.wasm32-unknown-unknown]
# wasm runner for cargo run and cargo test
# uncomment during development
# runner = 'cargo run -p beet-cli -- run-wasm'
runner = 'beet run-wasm'

rustflags = [
	# TODO remove in getrandom 0.3.4
	# i think we can remove this now..
	"--cfg",
	"getrandom_backend=\"wasm_js\"",
	# get span.file()
	# "--cfg",
	# "procmacro2_semver_exempt",
]

[env]
WORKSPACE_ROOT = { value = "", relative = true }
