[build]
# recommended for cargo test --workspace
# jobs = 8

[target.wasm32-unknown-unknown]
# this uses sweet for cargo run and cargo test
runner = 'sweet test-wasm'
# runner = 'cargo run -p sweet-cli -- test-wasm'
rustflags = [
	# remove in getrandom 0.3.4
	"--cfg",
	"getrandom_backend=\"wasm_js\"",
	# get span.file()
	# "--cfg",
	# "procmacro2_semver_exempt",
]

[env]
SWEET_ROOT = { value = "", relative = true }


[alias]
# TODO bring back cli which will call both of these
launch = "run -p beet_site --no-default-features --features launch -- --package beet_site"
serve = "run -p beet_site --no-default-features --features server"
