:root {
	--primary-color: #ffffff;
	--background-color: #282828;
	--hover: #555;
	--active: #777;
	--pretty-sky: linear-gradient(0deg, rgba(0, 29, 2, 1) 0%, rgba(36, 121, 9, 1) 50%, rgba(29, 60, 138, 1) 50%, rgba(0, 112, 196, 1) 100%);
}

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	max-width: 100vw;
	max-height: 100vh;
	color: var(--primary-color);
	background-color: var(--background-color);
}

button {
	border: none;
	padding: 0.7em 1.5em;
	color: var(--primary-color);
	background-color: var(--background-color);
	cursor: pointer;
}

button:hover {
	background-color: var(--hover);
}

button:active {
	background-color: var(--active);
}

div.container {
	width: 100%;
	height: 100%;
	position: relative;
	background: var(--pretty-sky);
}

div.container>div.entity {
	position: absolute;
	font-size: 3em;
	pointer-events: none;
	user-select: none;
}

div.overlay {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

#graph-json-container {
	width: 100%;
	height: 100%;
	flex-grow: 1;
}

textarea {
	width: 100%;
	height: 100%;
	color: var(--primary-color);
	background: transparent;
	border: none;
	resize: none;
}