[package]
name = "beet_flow"
version.workspace = true
edition.workspace = true
description = "An ECS control flow library"
documentation.workspace = true
readme = "README.md"
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true


[features]
bevy_default = ["bevy/default"]
reflect = ["dep:serde", "bevy/serialize"]
# for doctest helpers
# https://github.com/rust-lang/rust/issues/67295
_doctest = []

[dependencies]
beet_flow_macros.workspace = true
beet_core.workspace = true

bevy.workspace = true
log.workspace = true
extend.workspace = true
anyhow.workspace = true
thiserror.workspace = true
serde = { workspace = true, optional = true }

[dev-dependencies]
beet_flow = { path = "", features = ["_doctest"] }
sweet.workspace = true
