html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	max-width: 100vw;
	max-height: 100vh;

}

button.play {
	/* background-color: red; */
	position: absolute;
	top: 10px;
	left: 10px;
}

div.container {
	width: 100%;
	height: 100%;
	position: relative;
}

div.container>div.entity {
	position: absolute;
	font-size: 3em;
}

div.overlay {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

#graph-json-container {
	width: 100%;
	height: 100%;
	flex-grow: 1;
}

textarea {
	width: 100%;
	height: 100%;
}