:root {
	--primary-color: #000000;
	--background-color: #ffffff;
	--hover: #eee;
	--active: #ccc;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: #ffffff;
		--background-color: #282828;
		--hover: #555;
		--active: #777;
	}
}


html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	max-width: 100vw;
	max-height: 100vh;
	color: var(--primary-color);
	background-color: var(--background-color);
}

button {
	color: var(--primary-color);
	background-color: var(--background-color);
	cursor: pointer;
}

button:hover {
	background-color: var(--hover);
}

button:active {
	background-color: var(--active);
}

div.container {
	width: 100%;
	height: 100%;
	position: relative;
}

div.container>div.entity {
	position: absolute;
	font-size: 3em;
}

div.overlay {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

#graph-json-container {
	width: 100%;
	height: 100%;
	flex-grow: 1;
}

textarea {
	width: 100%;
	height: 100%;
	color: var(--primary-color);
	background-color: var(--background-color);
	border: none;
	/* Optional: Remove border if desired */
}