.container {
	position: relative;
	width: 100%;
	height: 100%;
	/* min-height: 400px; */
}

.canvas {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	border: none;
	outline: none;
	/* background-color: transparent; */
	/* background-color: darkblue; */
	/* background-color: #800022; */
}

.overlay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.error-message {
	background-color: white;
	color: red;
}

.progressOverlay {
	width: 80%;
	height: 2em;
}