(
    model: (
        base_url: "https://huggingface.co/intfloat/e5-small-v2/resolve/main/",
        search_prefix: "query: ",
        document_prefix: "passage: ",
        model_id: "intfloat/e5-small-v2",
        revision: "main",
    ),
    normalize_embeddings: true,
    approximate_gelu: false,
)