[package]
name = "beet_utils"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
readme.workspace = true
description = "Base level utilities for beet crates"
documentation.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true

[features]
tokens = ["dep:proc-macro2", "dep:syn", "dep:quote"]
fs = ["dep:crossterm", "dep:async-fs", "dep:futures-lite"]
serde = ["dep:serde", "dep:serde_json"]
rand = ["dep:uuid"]
# rand = ["dep:uuid","dep:rand", "dep:rand_chacha", "dep:getrandom"]

[dependencies]
bevy.workspace = true

# utils
glob.workspace = true
clap.workspace = true
extend.workspace = true
thiserror.workspace = true

# fs
path-clean = "1"
pathdiff = "0.2"

# serde
serde = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }

# tokens
syn = { workspace = true, optional = true }
quote = { workspace = true, optional = true }
proc-macro2 = { workspace = true, optional = true }

# rand
uuid = { workspace = true, optional = true, features = ["v4"] }
# rand = { workspace = true, optional = true }
# rand_chacha = { workspace = true, optional = true }
# getrandom = { workspace = true, optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
async-fs = { workspace = true, optional = true }
futures-lite = { workspace = true, optional = true }
crossterm = { version = "0.28", optional = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen.workspace = true
js-sys.workspace = true
web-sys = { workspace = true, features = ["Window", "console", "Performance"] }


[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
tokio.workspace = true

[dev-dependencies]
# abs_path serde roundtrip
serde_json.workspace = true
