@charset "UTF-8";


:root,
:host {
  --bt-font-family-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bt-font-family-sans-serif: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, var(--bt-font-family-emoji);
  --bt-font-family-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace, var(--bt-font-family-emoji);
  --bt-font-family: var(--bt-font-family-sans-serif);
  --bt-line-height: 1.5;
  --bt-font-weight: 400;
  --bt-font-size: 100%;
  --bt-text-underline-offset: 0.1rem;
  --bt-border-radius: 0.25rem;
  --bt-border-width: 0.0625rem;
  --bt-outline-width: 0.125rem;
  --bt-transition: 0.2s ease-in-out;
  --bt-spacing: 1rem;
  --bt-typography-spacing-vertical: 1rem;
  --bt-block-spacing-vertical: var(--bt-spacing);
  --bt-block-spacing-horizontal: var(--bt-spacing);
  --bt-grid-column-gap: var(--bt-spacing);
  --bt-grid-row-gap: var(--bt-spacing);
  --bt-form-element-spacing-vertical: 0.75rem;
  --bt-form-element-spacing-horizontal: 1rem;
  --bt-group-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --bt-group-box-shadow-focus-with-button: 0 0 0 var(--bt-outline-width) var(--bt-primary-focus);
  --bt-group-box-shadow-focus-with-input: 0 0 0 0.0625rem var(--bt-form-element-border-color);
  --bt-modal-overlay-backdrop-filter: blur(0.375rem);
  --bt-nav-element-spacing-vertical: 1rem;
  --bt-nav-element-spacing-horizontal: 0.5rem;
  --bt-nav-link-spacing-vertical: 0.5rem;
  --bt-nav-link-spacing-horizontal: 0.5rem;
  --bt-nav-breadcrumb-divider: ">";
  --bt-icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  --bt-icon-minus: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
  --bt-icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  --bt-icon-date: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3C/svg%3E");
  --bt-icon-time: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cpolyline points='12 6 12 12 16 14'%3E%3C/polyline%3E%3C/svg%3E");
  --bt-icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
  --bt-icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
  --bt-icon-loading: url("data:image/svg+xml,%3Csvg fill='none' height='24' width='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' %3E%3Cstyle%3E g %7B animation: rotate 2s linear infinite; transform-origin: center center; %7D circle %7B stroke-dasharray: 75,100; stroke-dashoffset: -5; animation: dash 1.5s ease-in-out infinite; stroke-linecap: round; %7D @keyframes rotate %7B 0%25 %7B transform: rotate(0deg); %7D 100%25 %7B transform: rotate(360deg); %7D %7D @keyframes dash %7B 0%25 %7B stroke-dasharray: 1,100; stroke-dashoffset: 0; %7D 50%25 %7B stroke-dasharray: 44.5,100; stroke-dashoffset: -17.5; %7D 100%25 %7B stroke-dasharray: 44.5,100; stroke-dashoffset: -62; %7D %7D %3C/style%3E%3Cg%3E%3Ccircle cx='12' cy='12' r='10' fill='none' stroke='rgb(136, 145, 164)' stroke-width='4' /%3E%3C/g%3E%3C/svg%3E");
}


:where(:root),
:where(:host) {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: var(--bt-color-text);
  background-color: var(--bt-color-background);
  font-weight: var(--bt-font-weight);
  font-size: var(--bt-font-size);
  line-height: var(--bt-line-height);
  font-family: var(--bt-font-family);
  text-underline-offset: var(--bt-text-underline-offset);
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
}

@media (min-width: 576px) {
  :root,
  :host {
    --bt-font-size: 106.25%;
  }
}
@media (min-width: 768px) {
  :root,
  :host {
    --bt-font-size: 112.5%;
  }
}
@media (min-width: 1024px) {
  :root,
  :host {
    --bt-font-size: 118.75%;
  }
}
@media (min-width: 1280px) {
  :root,
  :host {
    --bt-font-size: 125%;
  }
}
@media (min-width: 1536px) {
  :root,
  :host {
    --bt-font-size: 131.25%;
  }
}

address,
blockquote,
dl,
ol,
p,
pre,
table,
ul {
  margin-top: 0;
  margin-bottom: var(--bt-typography-spacing-vertical);
  color: var(--bt-color-text);
  font-style: normal;
  font-weight: var(--bt-font-weight);
}
