Settings(
    client: ClientSettings(
        client_id: 0,
        client_port: 0, // the OS will assign a random open port
        server_addr: "127.0.0.1",
        conditioner: Some(Conditioner(
            latency_ms: 150,
            jitter_ms: 10,
            packet_loss: 0.02
        )),
        server_port: 5002,
        transport: WebSocket,
    ),
    server: ServerSettings(
        headless: true,
        inspector: false,
        conditioner: None,
        transport: [
            WebSocket(
                local_port: 5002
            ),
        ],
    ),
    shared: SharedSettings(
        protocol_id: 0,
        private_key: (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
        compression: None,
    )
)
