"<!DOCTYPE html><html><head></head><body><main><h1>App Info</h1><p>Title: beet_net</p><p>Description: Serve applications with axum and deploy with cargo-lambda.</p><p>Version: 0.0.7-dev.14</p><p>Stage: dev</p></main></body></html>"