(
    BeetRoot,
    InstanceRoot,
    MacroIdx {
        file: WsPathBuf::new(
            "crates/beet_parse/src/parse_rsx_tokens/parse_combinator_tokens.rs",
        ),
        start: LineCol { line: 1u32, col: 0u32 },
    },
    FragmentNode,
    related! {
        Children[(NodeTag(String::from("br")), ElementNode { self_closing : true },
        related!(Attributes[(AttributeKey::new("foo"),
        OnSpawnTemplate::new_insert(#[allow(unused_braces)] {
        (NodeTag(String::from("br")), ElementNode { self_closing : true }) }
        .into_attribute_bundle()), ExprIdx(0u32))]))]
    },
)