(
    SnippetRoot {
        file: WsPathBuf::new(
            "crates/beet_parse/src/parse_rsx_tokens/parse_combinator_tokens.rs",
        ),
        start: LineCol { line: 1u32, col: 0u32 },
    },
    InstanceRoot,
    FragmentNode,
    related! {
        Children[(ExprIdx(0u32), BlockNode,
        OnSpawnDeferred::insert(#[allow(unused_braces)] { "hello" }
        .into_template_bundle()))]
    },
)