[package]
name = "beet_sim"
version.workspace = true
edition.workspace = true
description = "Game AI simulation primitives built upon beet_flow"
documentation.workspace = true
readme = "README.md"
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
publish = true

[features]
bevy_default = ["bevy/default"]

[dependencies]
beet_core.workspace = true
beet_flow.workspace = true
beet_spatial.workspace = true
bevy.workspace = true

# temp, just for bundle placeholders


[dev-dependencies]
sweet = {workspace = true, features=["runner"]}


# bevy = { workspace = true, default-features = true }
[[example]]
name = "sim_test"
path = "examples/sim_test.rs"
required-features = ["bevy_default"]
[[example]]
name = "dynamic"
path = "examples/dynamic.rs"
required-features = ["bevy_default"]
